#project .sidebar > .container {
  padding-right: 0;
  padding-left: 0;
}
#project .content {
  padding-top: 3rem;
}
#project ul.project-list li {
  padding-left: 20px;
}
#project ul.project-list li:hover {
  border-left: 10px rgba(255, 255, 255, 0.25) solid;
  padding-left: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#project ul.project-list li.active {
  border-left: 10px #fff solid;
  padding-left: 10px;
}
#project ul.project-list li.active,
#project ul.project-list li.active a {
  font-weight: bold;
}
#project ul.project-list h3 {
  font-weight: normal;
  margin: 1rem 0 0;
}
.project-body > header {
  text-align: center;
  border-bottom: 1px #b3b3b3 solid;
  margin: 0 0 2rem;
  padding: 1rem 0;
}
.project-body > header h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  color: #666666;
  margin-top: 0;
}
.project-body > h2 {
  text-align: center;
  margin: 2rem 0 1rem;
}
.project-body > h2 span {
  font-weight: 200;
}
.project-body p.lead {
  font-weight: 500;
}
.project-body .pullout {
  margin: 2rem -1rem;
}
.project-body .float-right {
  float: right;
  margin: 0 0 0.5rem 1rem;
}
