.theme-base-0e .sidebar {
  background-color: #8bc34a;
}
.theme-base-0e .content a,
.theme-base-0e .related-posts li a:hover {
  color: #33691e;
}
body.front-page {
  background: #8bc34a;
}
body.front-page .container {
  max-width: 34rem;
}
body.front-page mark {
  background-color: #c5e1a5;
  padding: 2px 5px;
  color: #33691e;
}
body.front-page p.lead {
  font-weight: 600;
  color: #ffffff;
}
body.front-page a {
  text-decoration: underline;
  color: #fff;
}
body.front-page a:hover {
  text-decoration: none;
}
body.front-page footer {
  margin: 5ex 0;
  text-align: center;
  font-size: 0.8rem;
}
body.front-page section {
  margin-top: 5ex;
  color: rgba(0, 0, 0, 0.7);
}
body.front-page section > h1 {
  color: #ccff90;
  font-size: 1.5em;
}
li > ul {
  margin-bottom: 0;
}
h1.masthead {
  margin-bottom: 2rem;
}
.content .pullout {
  margin: 2rem -1rem;
}
.content .image p.caption {
  text-align: center;
  font-size: 0.9rem;
  color: #808080;
}
.sidebar > .container {
  padding-right: 0;
  padding-left: 0;
}
.sidebar .sidebar-nav {
  font-size: 1.2rem;
}
.sidebar .sidebar-about h2 {
  font-size: 1.8rem;
  margin-bottom: 0;
}
.sidebar .sidebar-about p.lead {
  font-size: 1.1rem;
}
.sidebar .big-z-logo img {
  display: inline;
  border-radius: 32px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.sidebar .big-z-logo img:hover {
  border-radius: 5px;
}
ul.posts-big-list {
  list-style-type: none;
  padding-left: 0;
  border-top: 1px rgba(0, 0, 0, 0.2) solid;
}
ul.posts-big-list li {
  padding: 0.5rem 0;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}
ul.posts-big-list li:last-child {
  border-bottom: none;
}
ul.posts-big-list li a {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
}
ul.posts-big-list li span {
  float: right;
}
dl {
  color: rgba(0, 0, 0, 0.75);
  margin: 1em 0;
}
dl.larger-text dd {
  font-size: 1.25em;
}
dl dt {
  color: #33691e;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
dl dd + dt {
  margin-top: 1em;
}
dl dd {
  margin-bottom: 0.25em;
}
article.link-listing {
  margin-bottom: 1rem;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  font-size: 0.9rem;
}
article.link-listing a {
  text-decoration: underline;
}
article.link-listing a:hover {
  text-decoration: none;
}
article.link-listing .date {
  font-size: 0.75rem;
  margin: 0 .5rem;
  display: inline-block;
}
